@page "/TemplatePlan"
@using BlazorASG.Data.BlazarComponents.Plans.Category.DataModel
 
@inject ISnackbar Snackbar

 
<section  >


    <div style="padding:10px!important">
@* 
        <BlazorASG.Components.PlansTemplate.T1.FeatureList /> *@
        <BlazorASG.Components.Category_Plans_Template.TemListCategorys OnClick="Submit" Params="@dataPlansCategory._listcategories" />
    </div>
 

    
 

</section>

 
}
@code
{
    public  DataPlansCategory dataPlansCategory = new DataPlansCategory();
    private async void Submit(Data.BlazarComponents.Plans.Category.Model.InputCategory inputCategory)
    {
        if (inputCategory != null)
        {
            Snackbar.Add(inputCategory.Name, Severity.Success);
        }
    }
}